<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="javascript:void(0);" class="app-brand-link">

            <span class="app-brand-text demo menu-text fw-bolder ms-2 text-capitalize">Angular Demo</span>
        </a>

        <a href="javascript:void(0);" (click)="sidebarClose()"
            class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1 sidebar-wrapper">
        <!-- Dashboard -->
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="form-layout" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Analytics">Form Layout</div>
            </a>
        </li>
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="table-list" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Analytics">Table List</div>
            </a>
        </li>
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="user-list" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Analytics">User List</div>
            </a>
        </li>
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="theme-setting" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Analytics">Theme Setting</div>
            </a>
        </li>


        <!-- Layouts -->
        <!-- <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Layouts</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link">
                        <div data-i18n="Blank">Blank</div>
                    </a>
                </li>
            </ul>
        </li> -->
    </ul>
</aside>